<template name="footer">
  <footer id="footer">
    <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
          </div>
          <div class="col-lg-4">
          </div>
          <div class="col-lg-4">
            <div class="social pull-right">
              <a href="mailto:info@bikeabout.nl"><i class="icon-mail"></i></a>
              {{! <a href="http://www.facebook.com/bikeaboutnl"><i class="icon-facebook"></i></a> }}
            </div>
          </div>
        </div>
      </div>
    </section>
  </footer>
</template>