<template name="about">
  <article>
    <div class="masthead">
      <div class="container">
        <h1>About us</h1>
        <p class="lead">We are Sander and Janneke, and we like to cycle!</p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-8">

          <h3 class="header">How we started cycling</h3>
          <p>We met during spring 2006 at the student rowing club ‘Skøll' in Amsterdam and soon fell in love. Our first summer holiday together we spent on the island of Sardinia while surfing, swimming and relaxing. After only a couple of days it became clear that lying on the beach, doing nothing most of the time didn't suit either of us. During an excursion on the island, a women told us that her son spends his holidays on a bike travelling from one destination to another. This story made us curious, and after returning home we invested a considerable amount of time searching the internet and reading about long distance cycling. A whole new way of traveling opened up on us, a dream was born and before we knew we had spent all our savings on bicycles and camping gear during the winter. The next summer we circumnavigated Switzerland on wheels, and we haven’t stopped cycling since.</p>

          <h3>Where we have been cycling</h3>
          <p>2008: Switzerland<br />
             2009: Czech Republic<br />
             2010: 'Route du soleil' (to the Mediterranean sea through Belgium and France)<br />
             2011: Morocco<br />
             2011: Norway<br />
             2012: Malawi<br />
             2013: China<br />
             2013: Oman and the United Arabic Emirates<br />
             2014: <a href="{{pathFor route='viewTumblrFeedPost' slug='road-to-bikeabout'}}">Bikeabout</a>
          </p>

          <p>Currently we are on a long trip. We left our home in Amsterdam at the beginning on June to cycle to Saint Petersburg, hop on the Trans Siberian Express to Vladivostok, and cycle on in Asia. More about that in our <a href="{{pathFor route='viewTumblrFeed'}}">travelogue</a>.</p>

        </div>
        <div class="col-sm-4">
          <aside>
            <p><img src="/images/about/sander.jpg" /></p>
            <p><strong>Sander</strong> (34) is an idealist and sportsman. He likes to watch movies, dance on good techno music, go out for a run, eat Chili con carne and drink a beer with his friends. On the bike he 'specialised' as a GPS navigator, barrista, part time cook and bike mechanic.<br />
            In daily life Sander is an experienced web developer. Programming started out as a hobby while he was a teenager and has stayed his main time-absorbing activity ever since. Furthermore it has been paying the bills for over 14 years. When returning home he will probably get back to programming for a living again.</p>
            <br />
            <p><img src="/images/about/janneke.jpg" /></p>
            <p><strong>Janneke</strong> (28) is a cyclist, dreamer, cheese lover and ‘flierefluiter’. She likes to read, cook, spend time with her friends, go out for a run with Sander and get exhausted during a bootcamp work out. On the bike she is the route planner, organiser, interior designer, breakfast preparer, patriot (after all, I’ve been carrying the Dutch flag on my bike for over 3000km), and part time cook.<br />
            Janneke tends to identify herself by anything but her job. When returning home, Janneke aims to find a job that does not solely involve sitting behind a desk, staring at a computer.</p>
          </aside>
        </div>
      </div>
    </div>
  </article>
</template>
