<template name="about">
  <article>
    <div class="jumbotron">
      <div class="container">
        <div class="subhead">
          <h1>About us</h1>
          <p class="lead">How we started cycling and our motivation for this trip.</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-8">

          <h2 class="header">How we started cycling</h2>
          <p>Sander and Janneke met at the student rowing club ‘Skøll' in Amsterdam during the spring of 2006. They soon fell in love, and on their first holiday together they spent the summer on Sardinia with surfing, swimming and relaxing. After only a couple of days was already clear that lying on the beach, doing nothing most of the time was not their cup of tea. During an excursion on the island, a women told them that her son spends his holidays on a bike travelling from one destination to another. This story made Sander and Janneke curious, and after returning home they invested a considerable amount of time searching the internet and reading about long distance cycling. A whole new way of traveling opened up on them, and a dream was born. During the winter they spent all their savings on bicycles and camping gear. The next summer they circumnavigated Switzerland on wheels, and they haven’t stopped cycling since.</p>

          <h2>How big ideas get postponed until further notice</h2>
          <p>Somewhere during the first cycling trips the idea of leaving ordinary life and spending a couple of months on the bicycle was born. By the end of 2009 Sander and Janneke made plans to cycle the Silk Route: east to Bangkok via Central Asia, a journey that would take about 9 months to complete.<br />
          But, leaving your job and life behind turned out not to be that easy. When Sander got the opportunity to step in as partner in a web development company at the beginning of 2010, he took it. And Janneke enjoyed her time as a student at the university. The plans were postponed.</p>

          <p>Three years passed by, in which degrees were obtained, Janneke's PhD project got approved and Sander’s company was doing fairly well. Because both enjoyed their fulltime jobs, a big cycling trip didn’t seem a priority anymore. They still kept cycling during the holidays though, in which big parts of Europe, Morocco, Malawi, China, Oman and the UAE were visited. They were pretty happy with the current situation. Until autumn 2013.</p>

          <h2>From postponing to realising</h2>
          <p>For Sander and Janneke, 2013 was a year of many - too many - life changing events: they got married, their marriage got tested, Sander's father (which he only recently got to know) passed away, and Janneke started a new job as a PhD.
          Although his company was still doing well, Sander felt the need to take a sabbatical. In november he asked Janneke if she would join him, to finally fulfill their cycling dream, leaving their home and jobs behind. All she could say was yes.</p>

          <p>The next couple of months were spent saying goodbye to old dreams (becoming a researcher, co-owning a company) and welcoming new dreams and a new future. This was not easy at all. From time to time it made them both feel very uncertain and ‘empty’ (seemed that after all, even Janneke identified herself by her job :) But knowing this has been a dream for a considerable amount of time, and longing for a less career-oriented life, gave them more and more trust in the new future. Fortunately, they didn’t have that much time to think about it anyway, since they were too busy sorting out all kinds of stuff and preparing for the trip. The couple of months prior to departure date flew by. They spent their time earning some more money for our travelling budget, they moved to a new apartment and said goodbye to friends and family.</p>

          <h2>And so it begins</h2>
          <p>The 2nd of June 2014 Sander and Janneke started their 'bikeabout’: a period of wandering around the world, preferably by bicycle. Contrary to the 2010 travel plan, this trip does not have a fixed route. They do not need to get back to a job, and they try to keep as much options open as possible. The only ‘planned’ part is at the beginning: three months in which they will cycle from Amsterdam to Saint Petersburg via the European cycling route R1. This planning is necessary because of the fixed validity date of Russian visa. After reaching Saint Petersburg, they planned on taking the Trans-Siberian Express from Moscow to Vladivostok, to start cycling again in the Pacific and South-East Asia.</p>

          <p>This trip does not have an end date. It does not have a specific goal. It's no fundraising, they're supported by any means. They are not looking to ‘find their true selves’. They are not running away from anything. And most certainly, this is not an ‘epic adventure’. Sander and Janneke are just two people, who had a dream and decided now was the best time to turn it into reality.</p>

        </div>
        <div class="col-sm-4">
          <aside>
            <p><img src="/images/about/sander.jpg" /></p>
            <p><strong>Sander</strong> (34) is an idealist and sportsman. He likes to watch movies, dance on good techno music, go out for a run, eat Chili con carne and drink a beer with his friends. On the bike he 'specialised' as a GPS navigator, barrista, part time cook and bike mechanic.<br />
            In daily life Sander is an experienced web developer. Programming started out as a hobby while he was a teenager and has stayed his main time-absorbing activity ever since. Furthermore it has been paying the bills for over 14 years. When returning home he will probably get back to programming for a living again.</p>
            <br />
            <p><img src="/images/about/janneke.jpg" /></p>
            <p><strong>Janneke</strong> (28) is a cyclist, dreamer, cheese lover and ‘flierefluiter’. She likes to read, cook, spend time with her friends, go out for a run with Sander and get exhausted during a bootcamp work out. On the bike she is the route planner, organiser, interior designer, breakfast preparer, patriot (after all, I’ve been carrying the Dutch flag on my bike for over 3000km), and part time cook.<br />
            Janneke tends to identify herself by anything but her job. When returning home, Janneke aims to find a job that does not solely involve sitting behind a desk, staring at a computer.</p>
          </aside>
        </div>
      </div>
    </div>
  </article>
</template>
