<template name="home">
  <div id="menu-hint" class="hint"></div>
  {{> homeBackground}}
  <main id="content" class="masthead" role="main">
    <div class="container">
      <h1>Bikeabout <small>\bɪkˈə-boutˈ\</small></h1>
      <p class="lead"><i>(noun)</i> To disconnect from regular life for a period of wandering.<br />
        Preferably by bicycle.</p>
    </div>
    <div class="bottom">
      <div class="container">
        <p class="lead">In June Sander and Janneke set out for a bicycle trip to the east. This is our travelogue.</p>
        <a id="dashboard-anchor" class="anchor" href="#dashboard"><i class="icon-arrow-down"></i></a>
      </div>
    </div>
  </main>
  {{> homeDashboard}}
</template>

<template name="homeBackground">
  <div class="crossfade">
    <div class="item active" style="background-image: url('/images/home/carousel_2.jpg')"></div>
    <div class="item" style="background-image: url('/images/home/carousel_3.jpg')"></div>
  </div>
</template>

<template name="homeDashboard">
  <div id="dashboard">
    <div class="container-fluid">
      <div class="row first-row">
        {{> TumblrFeedDashboardBlock}}
        {{> TripLoggerDashboardBlock}}
      </div>
      {{!
      <div class="row second-row">
        <div class="block dashboard-block col-sm-3">
          <h4>Total distance</h4>
        </div>
        <div class="block dashboard-block col-sm-3">
          <h4># days on the road</h4>
        </div>
        <div class="block dashboard-block col-sm-3">
          <h4># flats</h4>
        </div>
        <div class="block dashboard-block col-sm-3">
          <h4>...</h4>
        </div>
      </div>
      }}
    </div>
  </div>
</template>
